<p id="notice"><%= notice %></p>

<% if current_user == @road_trip.user %>
<%= link_to 'Dashboard', edit_road_trip_path(@road_trip) %> 
<% end %>
<p>
  <strong>Title:</strong>
  <%= @road_trip.title %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @road_trip.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @road_trip.destination %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @road_trip.user.email %>
</p>

|
<%= link_to 'Back', road_trips_path %>
